.cost {
  &__wrap {
    justify-content: center;
    display: flex;
  }

  @media (max-width: 767px) {
    &__wrap {
      display: block;
    }
  }

  &__main {
    display: flex;
    justify-content: space-around;
    background: #f58ca1;
    border-radius: 16px;
    max-width: 1056px;
  }

  @media (max-width: 767px) {
    &__main {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 130%;
    color: #ffffff;
    max-width: 430px;
    margin: 80px 0 112px 80px;
  }

  @media (max-width: 767px) {
    &__title {
      max-width: 100%;
      margin: 0;
      font-size: 32px;
    }
  }

  &__price {
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    color: #ffffff;
    margin: 80px 0 16px 0;
  }
  @media (max-width: 767px) {
    &__price {
      text-align: center;
      margin: 20px 0 16px 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 64px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-right: 198px;
    border: 1px solid green;
  }

  @media (max-width: 767px) {
    &__button {
      margin-right: 0;
      width: 100%;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: #74b900;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__dot::after {
    content: url(../img/Ellipse\ 14.png);
  }

  &__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #ffffff;
    margin-left: 14px;
  }
}
