.footer {

    & {
        margin-top: 80px;

    }

    &__main {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;        
    }

    @media (max-width:767px) {
        &__main {
            display: flex;
            flex-direction: column;
            max-width: 288px;
        }
    }    


    &__list {
        margin-bottom: 16px;
    }

    &__list:last-child {
        margin-bottom: 56px;
    }

    &__link {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-decoration: underline;
        text-transform: uppercase;
        color: #363431;
    }

    @media (max-width:767px) {
        &__link {
            font-size: 14px;
            line-height: 14px;
        }
    }  

    &__social {
        margin-bottom: 24px;
    }

    @media (max-width:767px) {
        &__social {
           display: none;
        }
    }  

    &__social-img {
        width: 40px;
        height: 40px;
    }

    @media (max-width:767px) {
        &__img {
        width: 32px;
        height: 32px;
        }
    }     

    &__copyright {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #363431;
    }

    @media (max-width:767px) {
        &__copyright {
           display: none;
        }
    } 

    &__about-us {
        max-width: 376px;
    }

      &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #363431;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      @media (max-width:767px) {
        &__title {
            font-size: 14px;
            line-height: 14px;
        }
    }  

      &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: #363431;
        margin-bottom: 8px;
      }

      @media (max-width:767px) {
        &__subtitle {
            font-size: 14px;            
        }
    }  

      &__adress {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: #363431;
      }

      @media (max-width:767px) {
        &__adress {
            font-size: 14px;
            line-height: 170%;
        }
    }  

      &__news {
        max-width: 376px;
      }

      &__news-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #363431;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      @media (max-width:767px) {
        &__news-text {
            font-size: 14px;
            line-height: 14px;
        }
    }  

      &__know {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: #363431;
        margin-bottom: 32px;
      }

      @media (max-width:767px) {
        &__know {
            font-size: 14px;            
        }
    }  

      &__data {
        position: relative;
      }

      &__input {
        font-size: 14px;
        line-height: 170%;
        font-weight: 400;
        color: #aeacaa;
        background: #F3F3F3;
        width: 376px;
        height: 48px;
        padding-left: 16px;
        border: none;        
      }

      @media (max-width:767px) {
        &__input {
           width: 288px;
        }
    } 

      &__links {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: #ffffff;
        text-transform: uppercase;
        background: #74B900;
        list-style: none;
        width: 104px;
        height: 48px;
        position: absolute;
        top: -14px;
        left: 272px;
        display: flex;
        justify-content: center;
        align-items: center;           
      }

      @media (max-width:767px) {
        &__links {
            left: 184px;
        }
    } 

      &__confidentiality {
        margin-top: 64px;
      }

      &__confidentiality-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        color: #828282;
        text-decoration: underline;        
      }

      @media (max-width:767px) {
        &__confidentiality-link {
            font-size: 12px;
        }
    }  


     &__social-mobile {
        display: none;
     }

     @media (max-width:767px) {
        &__social-mobile {
           display: block;
        }
    } 
     

     &__copyright-mobile {
        display: none;
     }
     
     @media (max-width:767px) {
        &__copyright-mobile {
           display: block;
           font-size: 12px;
           line-height: 130%;
           font-weight: 400;
           color: #828282;
        }
    } 

}