.header {

    & {
        margin: 20px 0 20px 0;
    }  


    &__main {
        display: flex;        
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }    
    
    @media (max-width:767px) {
        &__nav {
            display: none;
        }
        
    }

    &__burger-mobile {
        display: none;
    }

    @media (max-width:767px) {
        &__burger-mobile {
            display: block;
        }        
    }

    &__burger-mobile {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    }

    &__burger-mobile span {
        background:  #000000;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
    }

    &__burger-mobile span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    &__burger-mobile span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    &__burger-mobile.active span:nth-of-type(1) {
        display: none;
    }

    &__burger-mobile.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    } 

    &__burger-mobile.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    } 


    &__menu-mobile {
        display: none;
    }

    @media (max-width:767px) {
        &__menu-mobile {
            display: block;
        }        
    }

    @media (max-width:767px) {
        &__nav-mobile {
            display: block;
        }
        
    }

    &__menu {
        display: flex;       
    }
    

    &__item {
        margin-right: 26px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #363431;
    }

    &__contact {
        display: flex;            
    }

    
    @media (max-width:767px) {
        &__contact {
            display: none;
        }        
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__whatsapp {
        padding-left: 16px;
    }
    
    &__adress {
        display: flex;
        align-items: center;                
    }

    @media (max-width:767px) {
        &__adress {
            display: none;
        }        
    }


    &__tel {
        font-size: 16px;
        font-style: normal;        
        font-weight: 400;
        line-height: 16px;
        color: #363431;
        padding-left: 16px;
    }

    &__city {
    padding-left: 16px;
    font-size: 14px;
    font-style: normal;    
    font-weight: 400;
    line-height: 150%;
    color: #363431;
    max-width: 362px;
    }
    
}








