html,
body {
  height: 100%;
  margin: 0;
  font-family: vanta, sans-serif;
}

@font-face {
  font-family: vanta;
  src: url(../font/Vanta.ttf);
}
@font-face {
  font-family: vantalight;
  src: url(../font/VantaLight.ttf);
}
* {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 762px) {
  .container {
    max-width: none;
  }
}
.header {
  margin: 20px 0 20px 0;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__burger-mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__burger-mobile {
    display: block;
  }
}
.header__burger-mobile {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.header__burger-mobile span {
  background: #000000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__burger-mobile span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.header__burger-mobile span:nth-of-type(3) {
  top: calc(50% + 5px);
}
.header__burger-mobile.active span:nth-of-type(1) {
  display: none;
}
.header__burger-mobile.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}
.header__burger-mobile.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}
.header__menu-mobile {
  display: none;
}
@media (max-width: 767px) {
  .header__menu-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__nav-mobile {
    display: block;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  margin-right: 26px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #363431;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .header__contact {
    display: none;
  }
}
.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__whatsapp {
  padding-left: 16px;
}
.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__adress {
    display: none;
  }
}
.header__tel {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #363431;
  padding-left: 16px;
}
.header__city {
  padding-left: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #363431;
  max-width: 362px;
}

.body {
  background: #E5E5E5;
}

.main {
  background: url(../img/Rectangle\ 2.jpg) center top no-repeat;
  margin-bottom: 176px;
}
@media (max-width: 767px) {
  .main {
    background: url(../img/Rectangle\ 2\ 320.jpg) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 72px;
  }
}
@media (max-width: 400px) {
  .main {
    background-size: contain;
  }
}
.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__title {
  font-size: 56px;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  max-width: 784px;
  text-align: center;
  padding-top: 144px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main__title {
    font-size: 30px;
    max-width: 195px;
    margin-bottom: 24px;
  }
}
.main__line {
  border: 2px solid white;
  width: 120px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main__line {
    margin-bottom: 24px;
  }
}
.main__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .main__subtitle {
    font-size: 16px;
    margin-bottom: 56px;
  }
}
.main__btn {
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 144px;
  padding: 13px;
}
@media (max-width: 767px) {
  .main__btn {
    display: none;
  }
}
@media (max-width: 400px) {
  .main__btn {
    margin-bottom: 15px;
  }
}
.main__btn-mobile {
  display: none;
}
@media (max-width: 767px) {
  .main__btn-mobile {
    display: block;
    width: 172px;
    text-align: center;
  }
}
.main__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}
@media (max-width: 767px) {
  .main__link {
    font-size: 14px;
    line-height: 14px;
    color: white;
  }
}
.main__down {
  margin-bottom: 128px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.about-us {
  margin-bottom: 176px;
}
.about-us__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 46px;
  color: #363431;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .about-us__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .about-us__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-us__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1328px;
}
.about-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
}
@media (max-width: 767px) {
  .about-us__item {
    max-width: 195px;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .about-us__item:last-child {
    margin-bottom: 0;
  }
}
.about-us__img {
  max-width: 117px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .about-us__img {
    max-width: 72px;
  }
}
.about-us__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  color: #363431;
}
@media (max-width: 767px) {
  .about-us__subtitle {
    font-size: 16px;
  }
}

.help {
  margin-bottom: 176px;
}
.help__container {
  max-width: 1329px;
}
.help__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help__h3 {
  font-size: 48px;
  line-height: 130%;
  font-weight: 400;
  color: #363431;
  text-align: center;
  max-width: 524px;
}
@media (max-width: 420px) {
  .help__h3 {
    font-size: 28px;
  }
}
.help__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .help__text {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .help__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.help__column {
  width: 100%;
  padding-right: 32px;
}
@media (max-width: 767px) {
  .help__column {
    padding-right: 0;
    margin-bottom: 24px;
  }
  .help__column:last-child {
    margin-bottom: 0;
  }
}
.help__column:last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  .help__item-margin {
    margin-bottom: 24px;
  }
}
.help__img-one {
  padding: 0px 0px 100% 0px;
  overflow: hidden;
  position: relative;
}
.help__img-two {
  padding: 0px 0px 50% 0px;
  overflow: hidden;
  position: relative;
  margin-bottom: 23px;
}
.help__pic-one {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}
.help__text-one {
  position: absolute;
  top: 48px;
  left: 48px;
  max-width: 400px;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 420px) {
  .help__text-one {
    font-size: 16px;
    max-width: 178px;
  }
}
.help__pic-two {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}
.help__text-two {
  position: absolute;
  top: 168px;
  left: 48px;
  max-width: 400px;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 767px) {
  .help__text-two {
    top: 56px;
  }
}
@media (max-width: 420px) {
  .help__text-two {
    font-size: 16px;
    max-width: 178px;
  }
}
.help__item-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45%;
}
@media (max-width: 767px) {
  .help__item-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 288px;
  }
}
.help__gray {
  background: #c6c6c6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  border-radius: 16px;
  font-size: 22px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .help__gray {
    margin-bottom: 24px;
  }
}
@media (max-width: 420px) {
  .help__gray {
    font-size: 16px;
  }
}
.help__green {
  background: #c7df9e;
  border-radius: 16px;
  font-size: 22px;
  line-height: 130%;
  color: #ffffff;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .help__subtitle-one {
    margin-right: 0;
  }
}
@media (max-width: 420px) {
  .help__green {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .help__subtitle-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .help__row-gray {
    margin-right: 0;
  }
}

.stock {
  background: #F3F3F3;
  padding-bottom: 176px;
}
.stock__title {
  margin: 176px 0 80px 0;
}
.stock__text {
  font-size: 48px;
  font-weight: 400;
  line-height: 46px;
  color: #363431;
  text-align: center;
}
@media (max-width: 767px) {
  .stock__text {
    font-size: 28px;
    line-height: 27px;
  }
}
@media (max-width: 992px) {
  .stock__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.stock__card {
  background: #ffffff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}
.stock__img {
  border-radius: 16px;
}
@media (max-width: 992px) {
  .stock__img {
    width: 100%;
  }
}
.stock__info {
  max-width: 425px;
}
@media (max-width: 767px) {
  .stock__info {
    max-width: 240px;
  }
}
.stock__text-one {
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  color: #363431;
  margin: 80px 0 24px 0;
}
@media (max-width: 767px) {
  .stock__text-one {
    font-size: 20px;
    margin: 24px 0 16px 0;
  }
}
.stock__text-two {
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  color: #363431;
}
@media (max-width: 767px) {
  .stock__text-two {
    font-size: 16px;
  }
}
.stock__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 24px 0 32px 0px;
}
.stock__new-price {
  font-size: 32px;
  font-weight: 400;
  color: #74B900;
}
@media (max-width: 767px) {
  .stock__new-price {
    font-size: 20px;
    line-height: 170%;
  }
}
.stock__old-price {
  font-size: 18px;
  font-weight: 400;
  color: #74B900;
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .stock__old-price {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .stock__item {
    margin-bottom: 24px;
  }
}
.stock__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  color: #363431;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .stock__link {
    font-size: 16px;
  }
}
.stock__paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stock__arrow-left {
  margin-right: 124px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .stock__arrow-left {
    margin-right: 64px;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .stock__pick1 {
    width: 40px;
    height: 40px;
  }
}
.stock__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stock__dot {
  border-radius: 50px;
  background: #AEACAA;
  width: 16px;
  height: 16px;
  margin-right: 24px;
}
.stock__dot:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .stock__dot {
    width: 8px;
    height: 8px;
    margin-right: 16px;
  }
}
.stock__arrow-right {
  margin-left: 124px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .stock__arrow-right {
    margin-left: 64px;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .stock__pick2 {
    width: 40px;
    height: 40px;
  }
}

.footer {
  margin-top: 80px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 288px;
  }
}
.footer__list {
  margin-bottom: 16px;
}
.footer__list:last-child {
  margin-bottom: 56px;
}
.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #363431;
}
@media (max-width: 767px) {
  .footer__link {
    font-size: 14px;
    line-height: 14px;
  }
}
.footer__social {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .footer__social {
    display: none;
  }
}
.footer__social-img {
  width: 40px;
  height: 40px;
}
@media (max-width: 767px) {
  .footer__img {
    width: 32px;
    height: 32px;
  }
}
.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #363431;
}
@media (max-width: 767px) {
  .footer__copyright {
    display: none;
  }
}
.footer__about-us {
  max-width: 376px;
}
.footer__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #363431;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: 14px;
    line-height: 14px;
  }
}
.footer__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  color: #363431;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .footer__subtitle {
    font-size: 14px;
  }
}
.footer__adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #363431;
}
@media (max-width: 767px) {
  .footer__adress {
    font-size: 14px;
    line-height: 170%;
  }
}
.footer__news {
  max-width: 376px;
}
.footer__news-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #363431;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .footer__news-text {
    font-size: 14px;
    line-height: 14px;
  }
}
.footer__know {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  color: #363431;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .footer__know {
    font-size: 14px;
  }
}
.footer__data {
  position: relative;
}
.footer__input {
  font-size: 14px;
  line-height: 170%;
  font-weight: 400;
  color: #aeacaa;
  background: #F3F3F3;
  width: 376px;
  height: 48px;
  padding-left: 16px;
  border: none;
}
@media (max-width: 767px) {
  .footer__input {
    width: 288px;
  }
}
.footer__links {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  color: #ffffff;
  text-transform: uppercase;
  background: #74B900;
  list-style: none;
  width: 104px;
  height: 48px;
  position: absolute;
  top: -14px;
  left: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer__links {
    left: 184px;
    top: -15px;
  }
}
.footer__confidentiality {
  margin-top: 64px;
}
.footer__confidentiality-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  color: #828282;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer__confidentiality-link {
    font-size: 12px;
  }
}
.footer__social-mobile {
  display: none;
}
@media (max-width: 767px) {
  .footer__social-mobile {
    display: block;
  }
}
.footer__copyright-mobile {
  display: none;
}
@media (max-width: 767px) {
  .footer__copyright-mobile {
    display: block;
    font-size: 12px;
    line-height: 130%;
    font-weight: 400;
    color: #828282;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #363431;
}
@media (max-width: 400px) {
  .menu__link {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (max-width: 400px) {
  .services__non-padding {
    padding: 0;
  }
}
.services__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 46px;
  color: #363431;
  text-align: center;
}
@media (max-width: 400px) {
  .services__title {
    font-size: 28px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .services__choice {
    display: none;
  }
}
.services__card-one, .services__card-two, .services__card-three, .services__card-four, .services__card-five, .services__card-six, .services__card-seven, .services__card-eight, .services__card-nine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
.services__card-nine {
  margin-bottom: 176px;
}
@media (max-width: 767px) {
  .services__card-one, .services__card-two, .services__card-three, .services__card-four, .services__card-five {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__card-six, .services__card-seven, .services__card-eight, .services__card-nine {
    display: none;
  }
}
.services__col {
  width: 100%;
  margin-right: 32px;
}
.services__col:last-child {
  margin-right: 0;
}
.services__img {
  position: relative;
  padding: 0px 0px 50% 0px;
}
.services__pic {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}
.services__list {
  background: #F9F9F9;
  border-radius: 0px 0px 16px 16px;
  padding-left: 48px;
  height: 296px;
}
.services__name {
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  color: #363431;
  padding-top: 48px;
  margin-bottom: 24px;
}
@media (max-width: 400px) {
  .services__name {
    font-size: 18px;
  }
}
.services__item {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  color: #363431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
@media (max-width: 400px) {
  .services__item {
    font-size: 18px;
  }
}
.services__price-laser {
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  color: #363431;
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 400px) {
  .services__price-laser {
    font-size: 14px;
  }
}
