.main {
  & {
    background: url(../img/Rectangle\ 2.jpg) center top no-repeat;
    margin-bottom: 176px;
  }

  @media (max-width: 767px) {
    & {
      background: url(../img/Rectangle\ 2\ 320.jpg) no-repeat;
      background-size: 100% 100%;
      margin-bottom: 72px;
    }
  }

  @media (max-width: 400px) {
    & {
      background-size: contain;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    &__info {
      margin: 30px;
    }
  }

  &__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 130%;
    color: #ffffff;
    max-width: 784px;
    text-align: center;
    padding-top: 144px;
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 30px;
      max-width: 195px;
      margin-bottom: 24px;
    }
  }

  &__line {
    border: 2px solid #ffff;
    width: 120px;
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    &__line {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 80px;
  }

  @media (max-width: 767px) {
    &__subtitle {
      font-size: 16px;
      margin-bottom: 56px;
    }
  }

  &__btn {
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 144px;
    padding: 13px;
    cursor: pointer;
  }

  &__button {
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 144px;
    padding: 13px;
    cursor: pointer;
  }

  @media (max-width: 767px) {
    &__btn {
      display: none;
    }
  }

  @media (max-width: 400px) {
    &__btn {
      margin-bottom: 15px;
    }
  }

  &__button-mobile {
    display: none;
  }

  @media (max-width: 767px) {
    &__button-mobile {
      display: block;
      width: 172px;
      text-align: center;
      cursor: pointer;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #ffff;
  }

  @media (max-width: 767px) {
    &__link {
      font-size: 14px;
      line-height: 14px;
      color: #ffff;
    }
  }

  &__down {
    margin-bottom: 128px;
    cursor: pointer;
  }
}
