.mobile {
   &__nav {
      transform: translateX(-1000%);
      position: fixed;
      top: 0;
      left: 0;
   }

   &__nav.active {
      transform: translateX(0);
   }

   &__nav {
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 1;
   }

   &__menu {
      padding: 100px 0px 0px 20px;

   }

   &__item {
      margin-bottom: 26px;
   }

   &__item:last-child {
      margin-bottom: 0;
   }
}