html,
body {
  height: 100%;
  margin: 0;
  font-family: vanta, sans-serif;
}

@font-face {
  font-family: vanta;
  src: url(../font/Vanta.ttf);
}

@font-face {
  font-family: vantalight;
  src: url(../font/VantaLight.ttf);
}

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 762px) {
  .container {
    max-width: none;
  }
}
